# Minecraft
public net.minecraft.client.Minecraft field_71428_T # timer

# ModelRenderer
public net.minecraft.client.model.ModelRenderer field_78812_q # compiled
public net.minecraft.client.model.ModelRenderer field_78811_r # displayList
public net.minecraft.client.model.ModelRenderer func_78788_d(F)V # compileDisplayList

# ClippingHelperImpl
public net.minecraft.client.renderer.culling.ClippingHelperImpl field_78563_e # instance
